doctype 5
html(lang="en")
  head
    link(rel="stylesheet", href="/style.css")
    script(src="/socket.io/socket.io.js")
    script(src="/interactions.js")
    script(src="/connections.js")
  body
    #init
      input(type="button", id="startButton", class="button", value="Start Game", onclick="sendStart()")
    #game
      #t1
        table(id="gameBoard", border="0")
      table(id="sideTrack", border="0")
    #results
      p#winner
      input(type="button", class="end", value="Leave Game", onClick="leaveGame();")
      br
      br
    #chat
      table
        tr
          td(rowspan=2)
            select(id="chatNames", multiple="multiple", size="12")
          td
            textArea(id="chatBox", rows='11', cols='40', readonly=true)
        tr
          td
            input(type="text", id="chatMsg", size='52', onkeydown="if (event.keyCode==13) sendMsg();");
    #players Players:
      table(id="namesList")
    div(id="debugDiv", style="border:2px")
    input(type='hidden', id='name', value=name)
    script
      init();
