::-webkit-scrollbar  {
  width: 15px;
}
::-webkit-scrollbar-track {
      background-color: #242424;
} /* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-thumb {
      background-color: #323232;
} /* this will style the thumb, ignoring the track */
::-webkit-scrollbar-button {
      background-color: #3C3C3C;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
::-webkit-scrollbar-corner {
      background-color: #404040;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
body {
  position: relative;
  background: #202020;
  color: #C0C0C0;
}
#chat{
  position:absolute;
  left: 400px;
  top: 10px;
}
#chat table{
  padding: 0;
  border-collapse: collapse;
}
#chatNames{
  width: 7em;
}
#players{
  position: relative;
  top: 1em;
  width: 25em;
}
td:nth-child(even) .hasPlayer, .red{
  color: #FF0000;
}
td:nth-child(odd) .hasPlayer, .black{
  color:#0000FF;
}
#winningPlayer {
  font-size: 1.75em;
}
#gameBoard, #sideTrack {
  font-size: 1.25em;
  border-collapse: collapse; /* 'cellspacing' equivalent */
  color: green;
}
.back{ /*for the hidden cells in sideBoard*/
  color: #202020;
}
#t1{ 
  float: left; 
  }
#sideTrack {
  vertical-align:middle;
}
table td, table th{
  text-align:bottom;
  padding: 0; /* 'cellpadding' equivalent */
}
.hidden {
  display: none;
}
.bet {
  text-align: right;
}
#namesList {
  color:#BBBBBB;
  font-size: 1em;
  border: 1px solid black;
  border-collapse:collapse;
}
#namesList td, #namesList th{
  border: 1px solid black; /* 'cellpadding' equivalent */
}
#namesList td {
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
}
#namesList tbody  tr:nth-child(2n+1){
  background: #414141;
}
#namesList tbody  tr:nth-child(1){
  background: #5A5A5A;
  text-align: center;
  color: #CCCCCC;
}

select{
  background: #414141;
  color: #C4C4C4;
  border: 0px;
}
textarea{
  background: #414141;
  color: #C4C4C4;
  border: 0px;
}
input{
  background: #414141;
  color: #C4C4C4;
  border: 0px;
}

.button:hover{
  background: #44DD55;
}
.button:active{
  background: #10B630;
}

.add:hover{
   background: #77BBFF;
}
.add:active{
  background: #6195FF;
}

.end:hover{
  background: #FF4F4F;
}
.end:active{
  background: #EE3333;
}

