html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}
body {
  position: relative;
  background: #fff;
  color: #333;
  z-index: -2;
}
div{
  display: block;
}
#pad {
  padding: 10px;
}
#chat {
  padding: 10px;
  position: relative;
  left: 10px;
  display: inline-block;
}
#after{
  clear: both;
}
#chat table {
  padding: 10px;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0px;
  margin: 2px;
}
#chat td, #chat th {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
#chatBox {
  position:relative;
  resize: none;
}
#chatMsg {
  position:relative;
  top: -2px;
}
#chatNames {
  position:relative;
  width: 7em;
  top: -3px;
}
#players {
  position: relative;
  clear: both;
}
#game{
  padding: 10px;
}
td:nth-child(even) .hasPlayer, .red {
  color: #FF0000;
}
td:nth-child(odd) .hasPlayer, .black {
  color:#0000FF;
}
#winningPlayer {
  font-size: 1.75em;
}
#gameBoard, #sideTrack {
  float: left;
  font-size: 1.25em;
  border-collapse: collapse; /* 'cellspacing' equivalent */
  color: green;
}
.back { /*for the hidden cells in sideBoard*/
  color: #fff;
}
#t1 { 
  float: left; 
}
#sideTrack {
  vertical-align:middle;
}
table td, table th {
  text-align:bottom;
  padding: 0; /* 'cellpadding' equivalent */
}
.hidden {
  display: none;
}
.bet {
  text-align: right;
}
#namesList {
  color:#222;
  font-size: 1em;
  border: 1px solid black;
  border-collapse:collapse;
}
#namesList td, #namesList th {
  border: 1px solid black; /* 'cellpadding' equivalent */
}
#namesList td {
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
}
#namesList tbody  tr:nth-child(2n+1) {
  background: #E4E4E4;
}
#namesList tbody  tr:nth-child(1) {
  background: #BDBDBD;
  text-align: center;
  color: #222;
}
#results{
  padding: 3px;
  float: left;
}
select {
  background: #BDBDBD;
  color: #222;
  border: 1px solid black;
  margin: 2px;
}
textarea {
  background: #BDBDBD;
  color: #222;
  border: 1px solid black;
  margin: 2px;
}
input {
  background: #BDBDBD;
  color: #222;
  border: 1px solid black;
  margin: 2px;
}
.button:hover {
  background: #6ddd9d;
}
.button:active {
  background: #60d090;
}

.add:hover { 
   background: #103880;
}
.add:active {
  background: #083070;
}

.end:hover { 
  background: #48a8e8;
}
.end:active {
  background: #3d9ddd;
}
