td:nth-child(even) .hasPlayer, .red{
  color:red;
}
td:nth-child(odd) .hasPlayer, .black{
  color:black;
}
#winningPlayer {
  font-size: 1.75em;
}
#gameBoard, #sideTrack {
  font-size: 1.25em;
  border-collapse: collapse; /* 'cellspacing' equivalent */
  color: green;
}
#t1{ float: left; }
#sideTrack {
  vertical-align:middle;
}
table td, table th{
  text-align:bottom;
  padding: 0; /* 'cellpadding' equivalent */
}
.hidden {
  display: none;
}
.header {
  text-align: center;
}
.bet {
  text-align: right;
}
#namesList {
  color:black;
  font-size: 1em;
  border: 1px solid black;
  border-collapse:collapse;
}
#namesList td, #namesList th{
  border: 1px solid black; /* 'cellpadding' equivalent */
  
}
#namesList td {
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
}
#namesList tbody  tr:nth-child(2n+1){
  background: #E5E5E5;
}
.button:hover{
  background: #44DD55;
}
.button:active{
  background: #10B630;
}

.add:hover{
   background: #77BBFF;
}
.add:active{
  background: #6195FF;
}

.end:hover{
  background: #FF4F4F;
}
.end:active{
  background: #EE3333;
}

