.hasPlayer {
	color: red;
}
#winningPlayer {
	color: red;
	font-size: 1.5em;
}
table {
	font-size: 1.25em;
    	border-collapse: collapse; /* 'cellspacing' equivalent */
	color: green;
}
table td, table th
{
	text-align:center;
    padding: 0; /* 'cellpadding' equivalent */
}