td:nth-child(even) .hasPlayer, .red{
  color:red;
}
td:nth-child(odd) .hasPlayer, .black{
  color:black;
}
#winningPlayer {
  font-size: 1.75em;
}
table {
  font-size: 1.25em;
  border-collapse: collapse; /* 'cellspacing' equivalent */
  color: green;
}
#t1 { float: left; }
#sideTrack {
  vertical-align:middle;
}
table td, table th{
  text-align:bottom;
  padding: 0; /* 'cellpadding' equivalent */
}
.hidden {
  display: none;
}

.button:hover{
  background: #44DD55;
}
.button:active{
  background: #10B630;
}

.add:hover{
   background: #77BBFF;
}
.add:active{
  background: #6195FF;
}

.end:hover{
  background: #FF4F4F;
}
.end:active{
  background: #EE3333;
}

